@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body,
html {
  @apply flex h-screen w-screen flex-col overflow-y-auto overflow-x-hidden bg-gray-50;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.MuiSelect-select {
  @apply !p-2;
}